<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>OpenText Mobile Demo</title>
    <!-- bundled with appworks app -->
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="appworks.min.js"></script>
    <!-- custom javascript -->
    <script type="text/javascript" src="js/index.js"></script>
</head>

<body>
<div class="row text-center" id="getData">
    <div class="col-xs-12">
        <button class="btn btn-circle btn-xl btn-primary" onclick="getItemFromCache()">
            retrieve cached data
        </button>
    </div>
</div>
</body>
</html>