<h2>Secure Storage</h2>

<md-content class="md-padding">
    <h4>Storing</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/storage/sample-storage.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/storage/sample-storage.js'"></div>
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Retrieving</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/storage/sample-retrieval.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/storage/sample-retrieval.js'"></div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>


<h2>Caching</h2>

<md-content class="md-padding">
    <h4>Set Item</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/caching/sample-set.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/caching/sample-set.js'"></div>
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Get Item</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/caching/sample-get.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/caching/sample-get.js'"></div>
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Remove Item</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/caching/sample-remove.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/caching/sample-remove.js'"></div>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Clear Cache</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/caching/sample-clear.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/caching/sample-clear.js'"></div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>

<h2>Working Offline</h2>

<md-content class="md-padding">
    <h4>Storing a Request</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/offline/sample-store.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/offline/sample-store.js'"></div>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Flushing Requests</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/offline/sample-flush.js'"></div>
            </md-content>
        </md-tab>
    </md-tabs>

</md-content>

<h2>Notifications</h2>
<p>Examples shown below are using angularJS and ionic, which come included with the appworksJS starter template.</p>

<md-content class="md-padding">

    <h4>Full example</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/notifications/sample-full.js'"></div>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Retrieving all notifications</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/notifications/sample-retrieve.js'"></div>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Recieiving new notifications</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/notifications/sample-new.js'"></div>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Clearing notifications</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <div hljs="" include="'templates/examples/notifications/sample-clear.js'"></div>
            </md-content>
        </md-tab>
    </md-tabs>

</md-content>


