<h2>Secure Storage</h2>

<md-content class="md-padding">
    <h4>Storing</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=s80jGthx" style="border:none;height:60%;width:100%"></iframe>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=uU2P48vR" style="border:none;height:30%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Retrieving</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=BRc7ZHXX" style="border:none;height:60%;width:100%"></iframe>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=0tscha46" style="border:none;height:30%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>


<h2>Caching</h2>

<md-content class="md-padding">
    <h4>Set Item</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=KYy2A8Wd" style="border:none;height:60%;width:100%"></iframe>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=jdFXi0dP" style="border:none;height:30%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Get Item</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=uvK4MFgL" style="border:none;height:60%;width:100%"></iframe>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=H2ye1YzJ" style="border:none;height:30%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Remove Item</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=hNqnBgcr" style="border:none;height:60%;width:100%"></iframe>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=rcMYwkWD" style="border:none;height:30%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Clear Cache</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=AtXeFPDZ" style="border:none;height:60%;width:100%"></iframe>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=c0gNw15u" style="border:none;height:30%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>

<h2>Working Offline</h2>

<md-content class="md-padding">
    <h4>Storing a Request</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="HTML">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=pELRv7X5" style="border:none;height:60%;width:100%"></iframe>
            </md-content>
        </md-tab>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=zhadtZ9W" style="border:none;height:100%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Flushing Requests</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=ET85z61E" style="border:none;height:70%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

</md-content>

<h2>Notifications</h2>
<p>Examples shown below are using angularJS and ionic, which come included with the appworksJS starter template.</p>

<md-content class="md-padding">

    <h4>Full example</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=ZLPbVwup" style="height:100%;border:none;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Retrieving all notifications</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=tdQ2tX3g" style="height:15%;border:none;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Recieiving new notifications</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=4eqxbPGE" style="border:none;height:15%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

    <h4>Clearing notifications</h4>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="JS">
            <md-content class="md-padding">
                <iframe src="http://pastebin.com/embed_iframe.php?i=XWF5RAyw" style="border:none;height:40%;width:100%">
                </iframe>
            </md-content>
        </md-tab>
    </md-tabs>

</md-content>


