<h3>What is AppWorksJS?</h3>

<p>
    AppWorks JS is a javascript library made to go hand in hand with your appworks apps. It gives you access to things
    like on device tech, secure storage capabilities, offline access, and more, and it comes prepackaged with every
    appworks app. This guide will give you a starting point in using the AppWorksJS library in your mobile enterprise
    apps.
</p>

<a href="#" ng-click="navigateTo('overview', $event)" class="md-primary md-raised md-button">Getting Started</a>