<h3>What is AppWorksJS?</h3>

<p>
    AppWorks JS is a javascript library made to go hand in hand with your appworks apps. It gives you access to things
    like on device tech, secure storage capabilities, offline access, and more, and it comes prepackaged with every
    appworks app. This guide will give you a starting point in using the AppWorksJS library in your mobile enterprise
    apps.
</p>

<h3>View on Github</h3>
<a href="https://github.com/opentext/appworks-js" target="_blank">
    appworksJS
</a>

<h3>Getting Started</h3>
<p>Use the appworks cli to build and package your appworks apps.</p>
<p>Make sure you have <a href="https://nodejs.org">nodejs</a> installed and enter the following into your terminal:</p>
<div hljs>
    npm install -g cordova ionic appworks
</div>
<p>
    This will install the appworks command line tool. With this, you may create, modify, and package your apps.
</p>
<p>
    Download a starter template and get started:
</p>
<div hljs>
    appworks start --name myapp
</div>
<p>
    This will install the appworks starter template, which gives you access to many of the powerful features only
    available through appworks.
</p>
<p>
    See the <a href="javascript:" ng-click="navigateTo('overview', $event)">overview</a>
    for more details.
</p>