<p>
    <i>New to AppWorks? Before getting into AppWorksJS, it might be helpful to
        <a href="http://www.opentext.com/what-we-do/products/appworks" target="_blank">
            read about the development platform.
        </a>
    </i>
</p>

<p>
    <i>
        If you would like to dive deeper, you can also read about Apache Cordova
        <a href="https://cordova.apache.org/">here.</a>
    </i>
</p>

<h2>How Do I Start?</h2>

<ul>
    <li>
        <a href="#">Clone a sample application</a>
    </li>
    <li>
        <a href="#">Watch a video tutorial</a>
    </li>
</ul>